<div class="animated fadeIn">
  <div class="grid">
    <div class="col-12">
      <div class="user-detail">
        <div class="card">
            <div class="grid m-0">
              <div class="col-auto p-0">
               
                <b class="h5"
                  >{{ workspace?.title | titlecase }}</b
                >
              </div>
              <div class="col text-right">
                <p-button
                label="Edit"
                icon="pi pi-pencil"
                  class="btn-sibasi-primary btn mr-2 btn-sm"
                  [routerLink]="['/app/workspace/edit-workspace', workspace?._id]"
                >
                  
                </p-button>
              </div>
            </div>

            <div class="grid mt-4">
              <div class="md:col-6">
                <div class="grid  user-details-row mt-2">
                  <div class="col-6">
                    <h6> Workspace Owner</h6> 
                  </div>
                  <div class="col-6 text-mute">
                    {{ workspace?.workspaceOwner?.firstname }}
                    {{ workspace?.workspaceOwner?.lastname }}
                  </div>
                </div>
                <div class="grid user-details-row">
                  <div class="col-6">
                    <h6> Description: </h6>
                  </div>
                  <div class="col-6 text-mute">
                    {{ workspace?.description }}
                  </div>
                </div>
               
              </div>
            </div>
         
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p-tabView>

            <p-tabPanel header="Projects">
              
            </p-tabPanel>
            <p-tabPanel header="Members">
          
            </p-tabPanel>
          </p-tabView>
       
        
        </div>
      </div>
    </div>
  </div>
</div>
