
<div class="modal-body">

  <div *ngIf="isLoading">
    Loading...
  </div>

  <table class="table" *ngIf="!isLoading">
    <tbody>
      <tr *ngFor="let role of userRolesArray">
        <td scope="grid">
          {{role}}
        </td>
        <td>
          <button
          pButton
          [label]="!checkIfModuleHasRole(role)? 'Assign':'UnAssign'"
          [icon]="!checkIfModuleHasRole(role)?'pi pi-user-plus':'pi pi-user-minus'"
            class=" mr-2 mt-3 w-75"
            (click)="!checkIfModuleHasRole(role)? updateModuleRoles(role, roleAction.ASSIGN):updateModuleRoles(role, roleAction.UNASSIGN)"
          >
           
          </button>
      
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="modal-footer">
  <button pButton type="button" icon="pi pi-times" label="Cancel" class="p-button-danger mr-2" (click)="ref.close('Close click')"></button>
</div>

