body {
    overflow-x: hidden;
}
@media print {
    body * {
        visibility: visible !important;
     //width: 100% !important;
    }
  

}
// @media print {
//     @page {
//         size:A4 landscape;
//         margin: 5mm 5mm 5mm 5mm;
//         padding: 0mm 0mm 0mm 0mm;
//     }
//     .table{
//         width:270mm;
//         min-width:270mm;
//     }
//     td, th{
//         padding: 2mm 2mm 2mm 2mm !important;
//         display: table-cell;
//         word-break:break-all;
//         width:23mm;
//         min-width:23mm;
//     }
//     tr{
//        display:block;
//     }
//     tr.page-break  { 
//        page-break-before: always; 
//     }
// }  
.app,
app-dashboard,
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.app-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
}

.app-body .main {
    flex: 1;
    min-width: 0;
}

body {
    .p-inputtext {
        width: 100% !important;
        padding: 10px;
        border: 1px solid var(--unnamed-color-e7e7e7);
        opacity: 1;
    }

    .p-dropdown {
        width: 100% !important;
    }

    .p-table {
        width: 100% !important;
    }



    #circle {
        background: lightblue;
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
    }

    // **********************avatar*****************************
    .p-avatar.p-avatar-xl {
        width: 10rem !important;
        height: 10rem !important;
    }

    .p-multiselect {
        width: 100%;
    }

    .icon-dashboard-container {
        display: flex;
        justify-content: end;

        .icon-dashboard {
            color: #fff;
            width: 50px;
            height: 50px;
            // padding: 12px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo img {
            height: 50px !important;
        }

        .layout-menu-wrapper .menu-logo .app-name img {
            height: 50px !important;
        }
    }

    /******************* INPUT FIELD CSS *******************/

    .field-space-btwn {
        .p-inputtext {
            &:not(.p-dropdown-label) {
                width: 100%;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }

        .p-dropdown {
            width: 100% !important;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .p-inputtext {
        width: 100%;
    }

    .inputfield {
        font-size: 1rem;
        color: var(--text-color);
        background: var(--surface-overlay);
        padding: 0.5rem 0.5rem;
        border: 1px solid var(--surface-border);
        appearance: none;
        border-radius: 3px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.clamp-text-2 {
    overflow: hidden !important;
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.dropdown-container {
    text-align: left;
  }
  
  .dropdown-option {
    text-align: left;
  }
 
  
  .status-report {
    margin-bottom: 10px;
  }



//   .p-datatable .p-datatable-tbody > tr > td {
//     text-align: left;
//     border: 1px solid #e9ecef;
//     border-width: 0 0 1px 0;
//     padding: 1rem 1rem;
// }
.p-datatable-scrollable .p-datatable-wrapper {
    overflow: hidden !important;
  }
  .p-datatable>.p-datatable-wrapper {
    overflow: hidden !important;
}
  
.legend-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 230px;
  }
  
  .legend-color {
    width: 20px;
    height: 10px;
    margin-right: 5px;
  }
  
  .gray .legend-color {
    background-color: gray;
  }
  
  .red .legend-color {
    background-color: red;
  }
  
  .green .legend-color {
    background-color: green;
  }
  .blue .legend-color {
    background-color: blue;
  }
  
  .legend-label {
    font-size: 14px;
  }
  