<div class="layout-topbar">
    <div class="flex align-items-center" (click)="utilService.goBack()">
        <i class="pi pi-arrow-circle-left mr-2" style="font-size: 2rem"></i>
        <span  *ngIf="!isMobile()">Back</span>

    </div>
    <div class="layout-topbar-left">
        <!-- <a routerLink="/" class="logo sm:ml-3 m-0"
            ><img
                [src]="
                    'assets/images/brand/' +
                    (app.colorScheme === 'light'
                        ? projectConstants?.darkLogo
                        : projectConstants?.lightLogo)
                "
                alt="Sibasi POS logo"
                routerLink="/"
        /></a> -->
    </div>
    <div class="layout-topbar-right">
        <button
            *ngIf="authService.isLoggedIn()"
            pButton
            pRipple
            type="button"
            [label]="!isMobile() ? 'Logout' : ''"
            class="p-button-outlined sm:mr-4 m-0"
            icon="pi pi-fw pi-sign-out"
            (click)="authService.logout()"
        ></button>
    </div>
</div>

<div class="auth-header-title mt-4 sm:pl-4 pl-2 mb-2">
    <span class="p-menuitem-text">
        {{ title }}
    </span>
</div>
