<div class="animated fadeIn">
    <div class="card">
        <div class="table-responsive">
            <p-table
                [value]="users"
                #table
                [globalFilterFields]="[
                    'firstname',
                    'lastname',
                    'email',
                    'roles'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <div
                            class="mt-4"
                            *ngIf="!utilService.doesURLHaveText('workspace')"
                        >
                            <button
                                pButton
                                type="button"
                                label="Add"
                                class="p-button-outlined mb-2 mr-2"
                                icon="pi pi-plus"
                                [routerLink]="['../add-user']"
                            ></button>
                            <button
                                pButton
                                label="Export"
                                class="p-button-outlined mb-2 mr-2"
                                icon="pi pi-file-excel"
                                (click)="exportPatients()"
                            ></button>
                        
                        </div>
                        <div
                            *ngIf="utilService.doesURLHaveText('workspace')"
                            class="mt-4"
                        >
                            <button
                                pButton
                                type="button"
                                label="Add"
                                class="p-button-outlined mr-2"
                                icon="pi pi-plus"
                                (click)="addUserToWorkspace()"
                            ></button>

                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-times"
                                label="Cancel"
                                class="p-button-danger mr-2"
                                (click)="utilService.goBack()"
                                [routerLink]="[
                                    '/workspaces/details',
                                    workspace?._id
                                ]"
                            ></button>
                        </div>

                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    table.filterGlobal(
                                        $event.target,
                                        'contains'
                                    )
                                "
                                placeholder="Search keyword"
                            />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th
                            *ngIf="utilService.doesURLHaveText('workspace')"
                        ></th>
                        <th
                            *ngFor="let column of userTableColumns"
                            [pSortableColumn]="column"
                        >
                            {{ column }}
                            <p-sortIcon [field]="column"></p-sortIcon>
                        </th>
                        <th
                            *ngIf="!utilService.doesURLHaveText('workspace')"
                        ></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td *ngIf="utilService.doesURLHaveText('workspace')">
                            <p-checkbox
                                value="user?._id"
                                [value]="user?._id"
                                [(ngModel)]="checkedUsers"
                                [inputId]="user._id"
                               
                            ></p-checkbox>
                        </td>
                        <td>
                            <p-avatar
                                label="{{
                                    utilService.createInitials(user?.firstname)
                                }}"
                                styleClass="p-mr-2"
                                size="large"
                                shape="circle"
                                [style]="{
                                    'background-color': user?.profileBgColor
                                }"
                            ></p-avatar>

                            {{ user?.firstname }}
                        </td>
                        <td>
                            {{ user?.lastname }}
                        </td>

                        <td>
                           {{user?.email}}
                            
                        </td>
                        <td *ngIf="!utilService.doesURLHaveText('workspace')">
                            <span
                                style="display: block"
                                class="badge mb-1"
                                *ngFor="let roles of user?.role"
                      
                            >
                                {{ roles?.name }}
                            </span>
                        </td>
                        <td>
                            <div class="">
                                <p-splitButton
                                    label="Manage Roles"
                                    icon="pi pi-folder-open "
                                    (onClick)="openUpdateRolesModal(user)"
                                    [model]="user?.menuItems"
                                    styleClass="mr-2"
                                >
                                </p-splitButton>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
