<div class="animated fadeIn">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="mt-4">
                            <p-table
                            responsiveLayout="stack" 
                                [value]="permissionsList"
                                 responsiveLayout="stack"

                            >
                                <ng-template pTemplate="caption">
                                    <div class="grid">
                                        <div class="sm:col-6">
                                            <button
                                                pButton
                                                icon="pi pi-plus"
                                                label="Add"
                                                [routerLink]="[
                                                    '/app/permissions/create'
                                                ]"
                                                class="p-button-outlined mb-2 mr-2"
                                            ></button>

                                      
                                        </div>

                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            *ngFor="let column of tableColumns"
                                            [pSortableColumn]="
                                                column?.fieldName
                                            "
                                        >
                                            {{ column?.displayName }}
                                            <p-sortIcon
                                                [field]="column?.fieldName"
                                            ></p-sortIcon>
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-permission>
                                    <tr
                                        class="p-selectable-row table-row-clickable"
                                    >

                                       
                                        <td>{{permission?.name}}</td>

                                        <td>
                                            <div>
                                                <p-splitButton
                                                    label="Manage Permissions"
                                                    icon="pi pi-unlock"
                                                    [model]="permission?.menuItems"
                                                    (onClick)="
                                                        router.navigate([
                                                            '/app/permissions/edit/' +
                                                            permission?._id + '/manage-permission'
                                                        ])
                                                    "
                                                ></p-splitButton>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
