<div class="animated fadeIn">
    <div class="card">
     
        <div class="table-responsive">
          <p-table
          responsiveLayout="stack" 
            [value]="feedbackList"
            #table
            [globalFilterFields]="['title', 'description', 'actioned']"
          >
  
          <ng-template pTemplate="caption">
            <div class="flex ">
              <button pButton type="button" label="Add" 
              class="p-button-outlined mb-2 mr-2" icon="pi pi-plus"  [routerLink]="['/app/feedback/create-feedback']"></button>
              <button pButton label="Export" class="p-button-outlined mb-2 mr-2"
               icon="pi pi-file-excel"
               (click)="exportData()"
               >
              </button> 
              
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="table.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
         
  
    
            <ng-template pTemplate="header">
              <tr>
                <th
                  *ngFor="let column of tableColumns"
                  [pSortableColumn]="column?.fieldName"
                >
                  {{ column?.displayName }}
                  <p-sortIcon [field]="column?.fieldName"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-feedback>
              <tr>
                <td>
                  {{ feedback?.title }}
                </td>
                <td>
                  <div class="clamp-text-2" [innerHTML]="feedback?.description">
                    <!-- {{ feedback?.description }} -->
                  </div>
                </td>
                <td >
               
                  <!-- <p-tag
                  value="auctioned"
                  icon="pi pi-check-circle"
                  severity="success"
                  *ngIf="feedback?.isActioned==true"
              ></p-tag>
    
              <p-tag
                  value="unactioned"
                  icon="pi pi-exclamation-circle"
                  severity="danger"
                  *ngIf="feedback?.isActioned==false"
              ></p-tag> -->
                        </td>
                <!-- <td>
                  <span
                    class="badge"
                    [ngClass]="
                      feedback?.isActioned ? 'badge-success' : 'badge-danger'
                    "
                  >
                  
                  
                  </span>
                 
                  {{feedback?.isActioned ? 'actioned' : 'unactioned'}}
                 
  
                </td> -->
                <td>
                  {{ feedback?.createdAt | date: "medium" }}
                </td>
  
                <td>
  
  
                  <p-splitButton
                  label="Detail"
                  icon="pi pi-folder-open"
                 (onClick)="openModal(feedback)"
                 [model]="feedback?.menuItems"
                  styleClass="mr-2" >
                 </p-splitButton>
  
              </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      
    </div>
  </div>
  <p-dialog header="Feedback Details" [(visible)]="display">
    <div class="modal-body">
      <div>
        <span class="small">
          <strong> Date </strong>
        </span>
      </div>
      <p class="small">
        {{ feedback?.createdAt | date: "medium" }}
      </p>
      <div>
        <span class="h6">
          <strong> Sent By </strong>
        </span>
      </div>
      <p *ngIf="feedback?.from">
        {{ feedback?.from?.firstname }} {{ feedback?.from?.lastname }}
      </p>
      
      <div>
        <span class="h6">
          <strong> Title </strong>
        </span>
      </div>
      <p>
        {{ feedback?.title }}
      </p>
  
      <div>
        <span class="h6">
          <strong> Description </strong>
        </span>
      </div>
      <p [innerHTML]="feedback?.description"></p>
    </div>
  
  
  </p-dialog>
  
  