
<div class="grid">
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">WORKSPACE</div>
                        </div>

                        <div class="h1 font-weight-bold">
                            <!-- {{ dashboardDetails?.workspaces || "--" }} -->
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-folder-open "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                                summary
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            <!-- {{ dashboardDetails?.allProjects|| "--" }} -->
                        </div>  
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-list "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                              summary
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            <!-- {{ dashboardDetails?.openTasks || "--" }} -->
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-folder "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                                summary
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            <!-- {{ dashboardDetails?.openIssues || "--" }} -->
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-list"
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>

                <!-- <div class="text-muted">Total proposals</div> -->
            </div>
        </div>
    </div>
</div>