
<div class="grid">
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">ONGOING PROJECTS</div>
                        </div>

                        <div class="h1 font-weight-bold">
                            {{ dashboard?.totalOngoingProjects || "--" }}
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-folder-open "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                                CLOSED PROJECTS
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            {{ dashboard?.totalCompletedProjects|| "--" }}
                        </div>  
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-list "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                              CLOSED TASKS
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            {{ dashboard?.totalCompletedProjects || "--" }}
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-folder "
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-3">
        <div class="card">
            <div class="card-body">
                <div class="grid">
                    <div class="col">
                        <div class="text-uppercase">
                            <div class="text-muted">
                                TOTAL WORKSPACE
                            </div>
                        </div>

                        <div class="h5 font-weight-bold">
                            {{ dashboard?.totalWorkspace || "--" }}
                        </div>
                    </div>
                    <div class="col text-right icon-dashboard-container">
                        <i
                            class="pi pi-list"
                            style="font-size: 2rem"
                        ></i>
                    </div>
                </div>

                <!-- <div class="text-muted">Total proposals</div> -->
            </div>
        </div>
    </div>
</div>
<app-mytasks></app-mytasks>

