<div class="animated fadeIn">

  <div class="grid">

      <div class="col-12">

          <div class="card">

              <div class="card-body">

                  <div class="field-space-btwn">

              <div class="mt-4">
        <form [formGroup]="createUserForm">
          <formly-form [form]="createUserForm" [fields]="userFormlyFields" [model]="userDetailsModel"></formly-form>
        </form>
      


      <div class=" text-right ">
        <button 
        
        pButton 
        pRipple 
        type="button"
        icon="pi pi-times"
         label="Cancel" 
        class="p-button-danger mr-2"
        
        (click)="utilService.goBack()">
         
        
        </button>
        <button
        pButton
        icon="pi pi-plus"
        label="{{isEdit? 'Update':'Save'}}"
          class="btn btn-sibasi-primary  "
        (click)="createUpdateUser()"
          [disabled]="createUserForm.invalid"
        >
        
        
        </button>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
