<div class="animated fadeIn">
  <div class="card">
      <div class="table-responsive">
        <p-table
     
          [value]="projectsList"
          #table
          [globalFilterFields]="[
            'title',
            'description',
            'workspace.title',
               'createdAt'
            
          ]"
        >
        <ng-template pTemplate="caption">
          <div class="flex ">
            <button pButton type="button" label="Add" class="p-button-outlined mb-2 mr-2" icon="pi pi-plus"  [routerLink]="['./create']"></button>
            <button pButton label="Export" class="p-button-outlined mb-2 mr-2"
             icon="pi pi-file-excel"
             (click)="exportData()"
             >
            </button> 
         
            
              <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="table.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
         
          <ng-template pTemplate="header">
            <tr>
              <th
                *ngFor="let column of tableColumns"
                [pSortableColumn]="column?.fieldName"
              >
                {{ column?.displayName }}
                <p-sortIcon [field]="column?.fieldName"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-project>
            <tr>
              <td>
                {{ project?.title }}
              </td>
              <td>
                <div class="clamp-text-2">
                  {{ project?.description }}
                </div>
              </td>
              <td>
                <span>
                  {{ project?.workspace?.title }}
                </span>
              </td>
              <td>{{project?.type}}</td>

         
            <td>{{ project?.createdAt | date : "medium" }}</td>
              <td>
                <p-tag
                value="Active"
                icon="pi pi-check-circle"
                severity="success"
                *ngIf="project?.isContractActive==true"
            ></p-tag>
  
            <p-tag
                value="Inactive"
                icon="pi pi-exclamation-circle"
                severity="danger"
                *ngIf="project?.isContractActive==false"
            ></p-tag>
              </td>

              <td>
                <p-splitButton
                label="Details"
                icon="pi pi-folder-open"
                (onClick)="router.navigate([
                '/projects/details-project',project?._id
              ]);"
               [model]="project?.menuItems"
                styleClass="mr-2" >
               </p-splitButton>
              
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
   
  </div>
</div>
