<div class="animated fadeIn">
  <div class="grid">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="field-space-btwn">

              <div class="mt-4">
          <form [formGroup]="workspaceForm">
            <formly-form
              [model]="workspaceModel"
              [fields]="workspaceFields"
              [options]="workspaceOptions"
              [form]="workspaceForm"
            ></formly-form>
          </form>
        </div>

        <div class="text-right">
          <button
          pButton
        pRipple type="button"
         label="Cancel" 
         icon="pi pi-times"
         class="p-button-danger mr-2"
            (click)="utilService.goBack()"
          >
         
          </button>
          <button
         
          pButton 
          type="button" 
          icon="pi pi-plus"
          label="{{isEdit? 'Update':'Save'}}"
            class="btn btn-sibasi-primary  "
            [disabled]="!workspaceForm.valid"
            (click)="createOrUpdateWorkspace()"
          >
         
           
          </button>
        </div>
      
   
  </div>
</div>
