<div class="animated fadeIn">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <div class="mt-4">
            <form [formGroup]="taskForm">
              <formly-form
                [model]="taskModel"
                [fields]="taskFields"
                [options]="taskOptions"
                [form]="taskForm"
              ></formly-form>
            </form>
          </div>
          <div class="form-actions text-right mt-4">
            <button 
            pButton
          type="button"
          pRipple type="button"
            icon="pi pi-times"
             label="Cancel" 
             class="p-button-danger mb-2 mr-2"
  
            (click)="utilService.goBack()">
      
            </button>
            <button
            pButton
            class=" mb-2 mr-2"
            icon="pi pi-plus"
            type="button"
            label="{{isEdit? 'Update':'Save'}}"
              [disabled]="!taskForm.valid"
              (click)="createOrUpdateTask()"
            >
           
            </button>
          </div>
      
      
    </div>
  </div>
  </div>
  </div>
  </div>
  
  