<div class="animated fadeIn">
  <div class="card">
   {{workspaceList|json}}
      <div class="table-responsive">
        <p-table 
          [value]="workspaceList"
          #table
          [globalFilterFields]="[
            'name',
            'description',
            'owner.firstname',
            'owner.lastname',
            'members'
          ]"
        >

        <ng-template pTemplate="caption">
          <div class="flex ">
            <button pButton type="button" label="Add" 
            class="p-button-outlined mb-2 mr-2" icon="pi pi-plus"
            [routerLink]="['/app/workspace/create']"></button>
            <button pButton label="Export" class="p-button-outlined mb-2 mr-2" icon="pi pi-file-excel"
            (click)="exportData()"
            ></button> 
            
              <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" 
                  (input)="
                  table.filterGlobal($event.target, 'contains')
                "
                  placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
        
          <ng-template pTemplate="header">
            <tr>
              <th
                *ngFor="let column of tableColumns"
                [pSortableColumn]="column.fieldName"
              >
                {{ column?.displayName }}
                <p-sortIcon [field]="column.fieldName"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-workspace>
            <tr>
              <td>
                {{ workspace?.name }}
              </td>
              <td class="clamp-text-1">
                
                  {{ workspace?.description }}
              
              </td>
              
                <td>
                  {{ workspace?.user?.firstname }}
                  {{ workspace?.user?.lastname }}
                </td>
            
            

              <td >
                {{ workspace?.members?.length || "--" }}
              </td>
              <td>
                <p-splitButton
                label="Details"
                icon="pi pi-folder-open"
               (onClick)="router.navigate([
               '/workspace/details',workspace?._id
             ]);"
               [model]="workspace?.menuItems"
                styleClass="mr-2" >
               </p-splitButton>
                
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    
  </div>
</div>
